
# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.local
.env.*.local

# Docker
docker-compose.override.yml

# IDEs
.vscode/
.idea/

# MacOS
.DS_Store

# Virtual Environments
venv/
env/

# MyPy
.mypy_cache/
dev.db
